 	#nav {
 		background-color: #ff4c68;
 		height: 10%;
 		padding-top: 1%;
 		padding-bottom: 1%;
	 }



	footer{
		background:#C3C3C3;
		width:100%;
		position: absolute;
		bottom : 0;
	}

	#result {
		margin-left: 70%;
	}